if req.user
  script.
    var isLogin=true;
    var currentUser=!{JSON.stringify(user_session)};
else
  script.
    var isLogin=false;
    var currentUser=null;

script.
  window.jQuery || document.write('<script src="#{CONFIG.CDN_HOST}/js/libs/jquery-2.1.0.min.js"><\/script>')

script(src=CONFIG.CDN_HOST + '/js/bootstrap.js')
script(src=CONFIG.CDN_HOST + '/js/plugins.js')
script(src=CONFIG.CDN_HOST + '/js/web.js')

if NODE_ENV == 'production'
  script.
    var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-22117109-15']); _gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();

if (typeof warning != 'undefined' && warning.length)
  script.
    var messages=_.first(!{JSON.stringify(warning)});

    bootbox.dialog({
      message: '<div class="padder text-xl">'+ messages.msg  +'</div>',
      className: "warning-dialog",
      buttons: {
        main: {
          label: "OKAY",
          className: "btn-primary"
        }
      }
    });

if (typeof info != 'undefined' && info.length)
  script.
    var messages=_.first(!{JSON.stringify(info)});

    bootbox.dialog({
      message: '<div class="padder text-xl">'+ messages.msg  +'</div>',
      className: 'error-dialog',
      buttons: {
        main: {
          label: "OKAY",
          className: "btn-primary"
        }
      }
    });

if (typeof flash_error != 'undefined' && flash_error.length)
  script.
    var messages = _.first(!{JSON.stringify(flash_error)});

    bootbox.dialog({
      message: '<div class="padder text-xl">'+ messages.msg  +'</div>',
      className: 'error-dialog',
      closeButton: false,
    });
