mixin headerHome
  header#top.navbar.navbar-static-top.navbar-lpages(role='banner')
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.bs-navbar-collapse')
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brandLogo.navbar-brand(href='/')
          img.m-r-xs(src=CONFIG.CDN_HOST + "/img/app.svg" width="42" height="42")
          span.text-xl.font-bold #{pkg.product_name}

      nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
        ul.nav.navbar-nav.navbar-right
          if (req.isAuthenticated())
            li
              a(href='/dashboards') My Dashboard
          else
            li
              a(href='/features') PRICING
            li
              a(href='/features') Features
            li
              a(href='/about') ABOUT
            li
              a(href='/https://blog.apflying.com') Blog
            li
              a(href='/login') Sign In


mixin headerDashboard
  header#top.navbar.navbar-static-top.navbar-dashboard.b-b(role='banner')
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='.bs-navbar-collapse')
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brandLogo.navbar-brand(href='/dashboards')
          img.m-r-xs(src=CONFIG.CDN_HOST + "/img/app.svg" width="42" height="42")
          span.text-xl.font-bold #{CONFIG.APP.name}

      nav.collapse.navbar-collapse(role='navigation')
        ul.nav.navbar-nav

          li(class="#{isActive('jobs')}")
            a(href="/jobs/create")
              i.fa.fa-suitcase &nbsp;
              | Jobs

          li(class="#{isActive('candidates')}")
            a(href="/candidates")
              i.fa.fa-graduation-cap &nbsp;
              | Candidates

          li(class="#{isActive('agendas')}")
            a(href="/agendas")
              i.fa.fa-calendar-o &nbsp;
              | Agendas

          li(class="#{isActive('reports')}")
            a(href="/reports")
              i.fa.fa-bar-chart &nbsp;
              | Repots

          li(class="#{isActive('activity')}")
            a(href="/activity")
              i.fa.fa-line-chart &nbsp;
              | Activity

        ul.nav.navbar-nav.navbar-right
          li.dropdown.b-l.b-r
            a(href="#" class="dropdown-toggle" data-toggle="dropdown")
              span.thumb-xs.avatar.m-r-sm
                img(src="https://gravatar.com/avatar/#{utility.md5(req.user.email)}?s=80")
                span.caret.m-l-xs

            ul.dropdown-menu.animated.fadeInRight
              span.arrow.top-right
              li
                a(href="/account/company")
                  i.fa.fa-building-o
                  | &nbsp; Company Settings
              li
                a(href="/account/profile" data-id="#{req.user._id}")
                  i.fa.fa-cogs
                  | &nbsp; Account Settings
              li.divider
              li
                a(href="/logout" class="btn-logout")
                  i.fa.fa-power-off.text-danger
                  | &nbsp; Logout
          li
            a.bg-gray.text-warning(href="#")
              span.fa.fa-lg.fa-question-circle

