extends ../layouts/dashboard

include ../includes/sidebar

block main
  .container-fluid.padder-v
    .row.m-l-none
      .col-sm-3.col-md-3.col-lg-2.panel.panel-default.m-b

        mixin sidebarJob('jobs', true)

      .col-sm-9.col-md-9.col-lg-10
        .panel.panel-default.m-b
          header.panel-heading
            h3.m-n.f-bold.text-black New Job Position

          form.panel-body.form-vertical.job-editor-form.update-job(accept-charset="UTF-8" id="updateJobs" method="post" novalidate="novalidate")
            input(type='hidden', name='_csrf', value="#{_csrf}")
            input(type='hidden', name='jobId', value="#{req.jobs._id}")
            .row.m-t-md
              .col-md-5.col-lg-5.form-group
                input.form-control.input-lg(type="text" placeholder="Position Title" name="name" value=req.jobs.name)
              .col-md-4.col-lg-4.form-group
                input.form-control.input-lg(type="text" placeholder="Departement" name="department" value=req.jobs.department)
              .col-md-3.col-lg-3.form-group
                input.form-control.input-lg(type="text" placeholder="Code" name="code" value=req.jobs.code)

            .row.m-t-sm
              .col-md-3.col-lg-3.form-group
                select#jobCountryCode.select2.input-lg.form-control(name='country_code' tabindex='-1')
                  each country, index in CONFIG.countries
                    if req.jobs.locations.country_code === country.cca2
                      option(value='#{country.cca2}' selected="selected") #{country.name.common}
                    else
                      option(value='#{country.cca2}') #{country.name.common}

              .col-md-3.col-lg-3.form-group
                if req.jobs.locations.state_code
                  input.form-control(type="text" placeholder="State/Region" name="state_code" value="#{req.jobs.locations.state_code}")
                else
                  input.form-control(type="text" placeholder="State/Region" name="state_code")

              .col-md-3.col-lg-3.form-group
                if req.jobs.locations.city
                  input.form-control(type="text" placeholder="City" name="city" value="#{req.jobs.locations.city}")
                else
                  input.form-control(type="text" placeholder="City" name="city")

              .col-md-3.col-lg-3.form-group
                if req.jobs.locations.job_zip_code
                  input.form-control(type="text" placeholder="Zip Code" name="job_zip_code" value="#{req.jobs.locations.job_zip_code}")
                else
                  input.form-control(type="text" placeholder="Zip Code" name="job_zip_code")

            .row
              .col-md-12.col-lg-12
                .form-group
                  label.h4.text-darker
                    i.fa.fa-bars &nbsp;&nbsp;
                    | Job Brief
                  if req.jobs.description
                    textarea.textnote.form-control(rows="8" name="description") #{HtmlEntities.decode(req.jobs.description)}
                  else
                    textarea.textnote.form-control(rows="8" name="description")
            .row
              .col-md-12.col-lg-12
                .form-group
                  label.h4.text-darker
                    i.fa.fa-check-square-o &nbsp;&nbsp;
                    | Requirements
                  if req.jobs.requirements
                    textarea.textnote.form-control(rows="8" name="requirements") #{HtmlEntities.decode(req.jobs.requirements)}
                  else
                    textarea.textnote.form-control(rows="8" name="requirements")

            .row
              .col-md-12.col-lg-12
                .form-group
                  label.h4.text-darker
                    i.fa.fa-gift &nbsp;&nbsp;
                    | Benefits
                  if req.jobs.benefits
                    textarea.textnote.form-control(rows="8" name="benefits") #{HtmlEntities.decode(req.jobs.benefits)}
                  else
                    textarea.textnote.form-control(rows="8" name="benefits")

            .row.m-b-lg
              .col-md-12.col-lg-12
                .r.b.b-input.bg-gray-lighter.wrapper
                  i.fa.fa-pencil-square-o.text-xl.inline &nbsp;
                  label.inline.text-md.m-b-none.text-black Add extra details about the job to boost visibility and targeting&nbsp;
                    span.text-gray (optional)

                  include include/job-extra-info-edit

                .clearfix

            .row.bg-gray-lighter.wrapper.b-t.b-b.b-input
              .col-lg-12
                button.btn.btn-lg.text-xl.btn-primary(type="submit" data-loading-text="Saving...") Save Changes
