#editorHeader.position-header
  .container-fluid
    .job-selector.pull-left.js-job-selector
      .dropdown.pull-left
        a.dropdown-toggle(data-toggle='dropdown', href='#')
          span.text-md.m-t-xs.status-orb(data-placement='bottom', class="color-#{req.jobs.status}" rel='tooltip', title='', data-original-title='Published')
            i.fa.fa-circle.m-t-sm
          h1.m-n #{req.jobs.name}
          span.caret
        ul.dropdown-menu.position-list(data-current-job-id=req.jobs._id)

    .actions.pull-right.m-t-sm.m-b-sm
      .copy-field.shortlink.m-t-xs.m-r-sm
        input#job-shortlink.js-select-all.form-control(name='job-shortlink', type='text', value='#{CONFIG.BASE_JOB_HOST}/j/A83DAB4D9C')
      .dropdown
        a.btn.btn-md.btn-white.m-r-sm.dropdown-toggle(data-toggle='dropdown', href='#')
          i.fa.fa-share-square-o &nbsp;
          | Share
        .dropdown-menu.dropdown-menu--large.embed-options(data-click='preserve')
          .dropdown-menu__section
            h6 Website connect
            p
              | Display all your open positions in your website, with the help of &nbsp;
              a(href='/account/integrations') Website Connect
              | .
          .dropdown-menu__section
            a.copy-clipboard(data-clipboard-text='#{CONFIG.BASE_JOB_HOST}/j/A83DAB4D9C')
              span Copy to clipboard
            h6 Job shortlink
            p You can use this link to share your job in social media or via email.
            input#shortlink.form-control.js-select-all(name='shortlink', type='text', value='#{CONFIG.BASE_JOB_HOST}/j/A83DAB4D9C')
          //- .dropdown-menu__section
          //-   a.copy-clipboard(data-clipboard-text='A83DAB4D9C@jobs.workablemail.com')
          //-     span Copy to clipboard
          //-   h6 Job mailbox
          //-   p
          //-     | Send CVs to this email address and they&apos;ll automatically be added to this position.
          //-   input#mailbox.js-select-all.form-control(name='mailbox', type='text', value='A83DAB4D9C@jobs.workablemail.com')

      // if user is admin, show a split button on archive
      .btn-group
        a.btn.btn-md.btn-white(data-confirm='Archiving this position means it will be removed from all job boards immediately. Are you sure you want to archive it?', data-method='put', href='/jobs/#{req.jobs._id}/archive', rel='nofollow')
          i.fa.fa-archive &nbsp;
          | Archive
        a.btn.btn-md.btn-white.dropdown-toggle(data-toggle='dropdown')
          i.fa.fa-caret-down
        ul.dropdown-menu.pull-right
          li
            a(data-confirm='Are you sure you want to delete this position? By doing so, you will lose all candidates who have applied to this position.', data-method='delete', href='/jobs/#{req.jobs._id}/delete', rel='nofollow')
              i.icon-w-trash
              | Delete position
      a.btn.btn-md.btn-danger.m-l-sm(data-confirm='Closing this position means it will be removed from all job boards immediately. Are you sure you want to close it?', data-method='put', href='/jobs/#{req.jobs._id}/close', rel='nofollow')
        i.icon-w-lock
        | Close Position

      .clearfix
