.extra-info
  .form-group.col-md-6.col-lg-6.m-t-md
    .form-group.form-horizontal.col-md-12.col-lg-12
      .row
        label.control-label.col-md-4.com-lg-4
          | Employment type
        .col-sm-8
          select#job_employment_type.form-control.input-sm.long-length(name='job_employment_type')
            option(value='') Select type
            each employment, index in CONFIG.staticData.employmentType
              option(value='#{employment.name}') #{employment.name}

    .form-group.form-horizontal.col-md-12.col-lg-12
      .row
        label.control-label.col-md-4.com-lg-4
          | Industry
        .col-sm-8
          select#job_industry.form-control.input-sm.long-length(name='job_industry')
            option(value='') Select industry
            each industry, index in CONFIG.staticData.industries
              option(value='#{industry.name}') #{industry.name}

    .form-group.form-horizontal.col-md-12.col-lg-12
      .row
        label.control-label.col-md-4.com-lg-4
          | Function
        .col-sm-8
          select#job_function.form-control.input-sm.long-length(name='job_function')
            option(value='') Select function
            each jobFunction, index in CONFIG.staticData.jobFunction
              option(value='#{jobFunction.name}') #{jobFunction.name}

  .form-group.col-md-6.col-lg-6.m-t-md
    .row
      .form-group.form-horizontal.col-md-12.col-lg-12
        label.control-label.col-md-4.com-lg-4
          | Experience
        .col-sm-8
          select#job_experience.form-control.input-sm.long-length(name='job_experience')
            option(value='') Select level
            each experience, index in CONFIG.staticData.jobExperiences
              option(value='#{experience.name}') #{experience.name}

    .form-group.form-horizontal.col-md-12.col-lg-12
      .row
        label.control-label.col-md-4.com-lg-4
          | Education
        .col-sm-8
          select#job_education.form-control.input-sm.long-length(name='job_education')
            option(value='') Select level
            each education, index in CONFIG.staticData.educations
              option(value='#{education.name}') #{education.name}

  .form-group.form-horizontal.col-md-12.col-lg-12
    label.control-label.col-sm-2.col-xs-12
      | Salary
    .col-sm-2.col-xs-5
      input#job_salary_from.numeric.integer.form-control.input-sm(name='job_salary_from', step='1000', type='number')
    label.pull-left.control-label.block To
    .col-sm-2.col-xs-5
      input#job_salary_to.numeric.integer.form-control.input-sm(name='job_salary_to', step='1000', type='number')

    label.pull-left.control-label.block per year

    label.pull-left.control-label.m-r-sm.m-l-md.col-xs-12.col-sm-1
      | Currency
    .col-sm-3.col-xs-12
      select#job_salary_currency.select2.form-control.input-sm(name='job_salary_currency', tabindex='-1')
        option(value='') Select currency
        each currency, index in CONFIG.currencies
          if currency.code !== 'XXX'
            option(value='#{currency.code}') #{currency.name} (#{currency.code})

  .form-group.col-md-12.col-lg-12.form-horizontal
    label.control-label.col-sm-2
      | Keywords
      small.text-gray.block.text-xs only the first 5 will be used for targeting

    .col-md-10.com-lg-10
      input#job_keyword.form-control.input-sm(name='job_keyword', tabindex='-1' multiple )

  .clearfix
